/* Стили для верхней панели (header) */
.header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  margin: 0;
}

/* Стили для верхней панели */
.top-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Стили для кнопки Logout */
.top-panel a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: bold;
}

.top-panel a:hover {
  background-color: #333;
  color: #fff;
}

/* Стили для контейнера */
.container {
  display: flex;
}

/* Стили для левого меню (sidebar) */
.sidebar {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.sidebar .links-container {
  text-align: center;
}

.sidebar .links-container a {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
}

/* Стили для правого контента */
.content {
  flex: 3;
  padding: 10px;
}

.content h3 {
  margin-top: 0;
}

.content a {
  cursor: pointer;
}
