/* Стили для вкладок */
.group-tabs {
  width: 100%;
}

.main-tab-content {
  padding: 0 20px;
}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.tab-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: #f2f2f2;
}

.tab-list li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 2px;
  flex: 1;
}

.tab {
  cursor: pointer;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 2px;
}

.tab.active, .main-tab.active {
  background-color: #007bff;
  color: #fff;
}


/* Скрыть все содержимое групп */
.group-content {
  display: none;
}

/* Показывать только активное содержимое */
.group-content.active {
  display: block;
}

/* Скрыть все таб-панели по умолчанию */
.tab-panel {
  display: none;
}

/* Отобразить только активную таб-панель */
.tab-panel.active {
  display: block;
}
